bin/
obj/
/packages/
.idea/.idea.Sampling/riderModule.iml
.idea/.idea.Sampling/.idea/.gitignore
.idea/.idea.Sampling/.idea/contentModel.xml
.idea/.idea.Sampling/.idea/indexLayout.xml
.idea/.idea.Sampling/.idea/modules.xml
.idea/.idea.Sampling/.idea/projectSettingsUpdater.xml
.idea/.idea.Sampling/.idea/vcs.xml
Sampling.csproj
Sampling.sln
